#container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

tr {
  height: 100%;
}

/* LEFT COLUMN */

#left {
  background: #161616;
  /* width: 82px; */
  /* vertical-align: top; */
}

#btn-home,
#btn-add-server,
#btn-find-server {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #403d3b;
}

.left-icons:hover {
  cursor: pointer;
}

/* MIDDLE COLUMN */

#middle {
  background: #262626;
  min-width: 232px;
  display: flex;
  flex-direction: column;
  /* vertical-align: top; */
}

#middle-main {
  flex-grow: 1;
}

#middle-search-bar-container {
  border-bottom: 2px solid black;
}

#middle-search-bar {
  border: none;
  background: black;
  color: #7d7674;
  margin-bottom: 0.55rem;
}

#middle-main-header {
  color: #7d7674;
  text-transform: uppercase;
  font-weight: bold;
}

#middle-user-container {
  display: flex;
  color: white;
  justify-content: space-between;
}

#user-avatar {
  width: 32px;
  height: 32px;
}

/* RIGHT COLUMN */

#right {
  background: #363636;
  width: 100%;
  /* height: 100%; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

#friend-tag {
  border-right: 2px solid #7d7674;
}

#friend-icon {
  width: 24px;
  height: 24px;
}

#friend-title {
  display: inline-block;
  color: white;
  font-weight: bold;
}

.friend-nav {
  border-color: black;
  border-width: 2px;
}

.friends-nav-link {
  color: white;
}

#friend-table-header {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #7d7674;
}

.friend-header-separator {
  color: #7d7674;
}

#friend-column-name,
#friend-column-status,
#friend-column-actions {
  text-transform: uppercase;
  font-weight: bold;
  color: #706667;
}

#friend-column-name {
  flex-grow: 1;
  margin-left: 1.25rem;
}

#friend-column-status {
  flex-grow: 1;
  text-align: center;
}

#friend-column-actions {
  flex-grow: 2;
  text-align: right;
}

#friend-table {
  color: white;
}

.friends {
  display: flex;
  justify-content: space-between;
}

.friend-name {
  margin-left: 1.25rem;
  flex-grow: 1;
}

.friend-status {
  flex-grow: 1;
  text-align: center;
  padding-left: 2rem;
}

.friend-action {
  flex-grow: 2;
  text-align: right;
  padding-right: 1rem;
}

#chat-screen-nav {
  background: green;
  border-color: black;
}

.action-icons {
  width: 25px;
  height: 25px;
}

#friend-chat-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0.75rem;
}

#friend-name-and-status {
  color: white;
  display: flex;
}
